$colors:
  background-primary white #202020,
  background-secondary #FAFAFA #181818,
  background-hover #F0F0F0 #282828,
  background-button #E3E3E3 #383838,
  border #E9E9E9 #363636,
  text-primary black white,
  text-secondary #8A8A8A #666,
  primary #007AFF #007AFF;

$font:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol";
